@charset "UTF-8";
/* Add your custom CSS declarations below  */



body { background: url(images/back.png) no-repeat 0px;  }

a, a:hover { color: #682d18; }



.nav-pills .nav-link.active, .show > .nav-pills .nav-link .nav-justified {
    background-color: #ffe7dc;
    color: #682d18;
	
}

.nav-item:hover {
	background-color: #ffe7dc;
}

.gray {
	background-color: #ffe7dc;
}


