@charset "UTF-8";
/* Add your custom CSS declarations below  */



body { background: url(images/back.png) no-repeat 0px;  }

a, a:hover { color: #682d18; }



.nav-pills .show > .nav-pills .nav-link .nav-justified .btn {
    background-color: #ffe7dc;
    color: #682d18;	
}


.nav-link.active {
    color: #ffe7dc;
	
}

.nav-item:hover {
	background-color: #ffe7dc;
}

.gray {
	background-color: #ffe7dc;
}


.mt-0 {
  margin-top: 0 !important;
}



